#frame-a {
    width: 300px;
    height: 150px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
}

#frame-b {
    width: 300px;
    height: 150px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
}

#frame-b {
    width: 300px;
    height: 150px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
}

