<clr-main-container>
    <clr-header class="header-3">
        <div class="branding">
            <a href="#" class="logo">
                <clr-icon shape="cloud-traffic"></clr-icon>
                <span class="title">Bifröst EventProxy Demo</span>
            </a>
        </div>
    </clr-header>

    <vmw-toast-container class="toast-container-7"
                         [notifications]="notifications"
                         [mode]="'dynamic'"
                         [fadeOutDelayInMs]="2500">
    </vmw-toast-container>


    <div class="control-panel">

            <h1>{{id}}</h1>

    </div>

    <div class="frame-container">
        <div class="frame1">

            <chat-client name="Sprinkles" avatar="🦄" theme="purple"></chat-client>

        </div>

        <div class="frame2">
            <iframe id="frame-a" src="/frameA" scrolling="no">

            </iframe>
        </div>

        <div class="frame3">
            <!--<iframe id="frame-b" src="/frameB"  scrolling="no"></iframe>-->
        </div>


        <div class="frame4">
            <!--<iframe id="frame-c" src="/frameC" scrolling="no"></iframe>-->
        </div>
    </div>

</clr-main-container>
