<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="#" >
        <clr-icon shape="cloud-traffic"></clr-icon>
        <span class="title">Bifröst Proxy App Sandbox</span>
      </a>
    </div>
    <div class="header-nav">

    </div>
    <div class="header-actions">

    </div>
  </header>

  <div class="content-container">
    <div class="content-area">


      <div class="clr-row">
        <div class="clr-col-6">
          <div id="avatar">

          </div>
          <button class="btn btn-primary" (click)="saySomething()">Speak Back</button>

        </div>
        <div class="clr-col-6">
          <div class="chat" *ngFor="let message of generalChatMessages">
            {{ message }}
          </div>
        </div>

      </div>

      <div class="clr-row">
        <div class="clr-col-12">
          <h3>Frame A</h3>
          <iframe id="frame-a" src="/frameA">

          </iframe>
        </div>

      </div>

      <div class="clr-row">
        <div class="clr-col-12">
          <h3>Frame B</h3>
          <iframe id="frame-b" src="/frameB">

          </iframe>
        </div>

      </div>















    </div>
  </div>
</div>
