# There should be no Errors/Warnings in the doc
# Please upload this yaml in the editor at
# editor.swagger.io to verify against swagger standards.
# For vapi extensions - see https://confluence.eng.vmware.com/display/VAP/VAPI+Swagger+Vendor+Extensions
# Created on: 09/07/16
# Last updated: 05/03/18.
#
# N.B. Be aware that model names are part of the API contract since SDKs etc that are generated use those names
#   to create classes.
#
# Tags:
#   We use 3 tags to identify authz
#   all-access - requires role SKYS_VMC_SENSITIVE (which is derived from org property allAccess)
#   impersonation - requires role SKYS_IMPERSONATION
#   operator - requires SKYS_OPERATOR_RO or SKYS_OPERATOR_RW

swagger: '2.0'
info:
  description: |
    * All VMware Cloud APIs require a valid authentication token; which can be obtained by issuing a `POST` to
      `/api/csp/am/api/auth/api-tokens/authorize` with a query parameter `refresh_token={refresh_token}` eg.
      ```
      curl -s -X POST \
          -H "Content-Type: application/json" \
          https://console.cloud.vmware.com/csp/gateway/am/api/auth/api-tokens/authorize?refresh_token={{refresh-token}}
      ```
    * This CSP API is defined at: `https://console.cloud.vmware.com/csp/gateway/api-docs#!/Authentication/getAccessTokenByApiRefreshToken`

    * The `refresh_token` used to get a valid authentication token can be obtained after successful login to
      following URL via a web browser: https://console.cloud.vmware.com/csp/gateway/portal/#/user/tokens.
    * Most VMware Cloud APIs require an org identifier.
      This can be obtained by issuing a `GET` on `/vmc/api/orgs` and extracting the `id` field
  version: '1.0'
  title: VMware Cloud APIs
  termsOfService: 'https://vmc.vmware.com/terms-and-conditions'
  contact:
    name: VMware
  license:
    name: 'Copyright (c) 2016-2018 VMware, Inc. All rights reserved.'
  x-vmw-vapi-codegenconfig:
    package-name: com.vmware.vmc
    tag-resources-by-url-path: true
host: vmc.vmware.com
basePath: /vmc/api
schemes:
  - https
securityDefinitions:
  api_key:
    type: apiKey
    name: csp-auth-token
    in: header
security:
  - api_key: []
tags:
  - name: orgs
    description: Organizations
  - name: features
    description: Features
  - name: subscription
    description: Subscriptions
  - name: task
    description: Tasks
  - name: sddc
    description: SDDCs
  - name: operator
    description: Operator
  - name: impersonation
    description: Privilege Impersonation
  - name: all-access
    description: All Access
  - name: publicip
    description: SDDC Public IPs
  - name: esx
    description: ESX Hosts
  - name: network
    description: SDDC Networks
  - name: awsAccount
    description: AWS accounts (operator only)
  - name: nodes
    description: Cluster Nodes
  - name: config
    description: Service Configuration
  - name: service-invitations
    description: Service Invitations
  - name: dns
    description: DNS
  - name: auth
    description: Authentication
  - name: delegated-admin
    description: Delegated Administration
  - name: notifications
    description: Webhook and Websocket Service Notifications
  - name: reservations
    description: Reservations and Maintenance Windows
  - name: account-linking
    description: AWS Account Connection Operations
  - name: sddc-template
    description: SDDC Configuration Template
  - name: oauth-client
    description: Manage service Oauth2 Clients
  - name: troubleshooting
    description: Network Troubleshooting
consumes:
  - application/json
produces:
  - application/json
paths:
#
# Auth info
#
  /auth/token:
    get:
      tags:
        - auth
      summary: Get the current users auth token.
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: auth
      x-vmw-vapi-lifecyle-internal:
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AuthToken'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /auth/time:
    get:
      tags:
        - auth
      summary: Get the current server time in millis.
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: auth
      x-vmw-vapi-lifecyle-internal:
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AuthTime'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /auth/identity-hash:
    get:
      tags:
        - auth
      summary: Get username hashes for remote services
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: auth
      x-vmw-vapi-lifecyle-internal:
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AuthIdentityHash'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden


#
# Features Service API
#
  /orgs/{org}/features:
    get:
      tags:
        - features
      summary: Get evaluation status for all features in the context of an org
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: features
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/FeatureEvaluationStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /orgs/{org}/features/{featureId}:
    get:
      tags:
        - features
      summary: Get evaluation status of a feature in the context of an org
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: features
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/featureIdParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FeatureEvaluationStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    patch:
      tags:
        - features
        - all-access
      summary: API will allow to patch a feature configuration for a given org.
      x-vmw-vapi-methodname: patch
      x-vmc-ui-servicename: features
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/featureIdParam'
        - $ref: '#/parameters/featureActionQueryParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FeatureEvaluationStatus'
        '400':
          description: Invalid patch request
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Feature does not exist
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/orgs/{org}/features:
    get:
      tags:
        - features
      summary: Get complete details of all the features with their evaluation status in the context an org.
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: features
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/SksFeatureDetails'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/orgs/{org}/features/{featureId}:
    get:
      tags:
        - features
      summary: Get complete details of a feature with their evaluation status in the context an org.
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: features
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/featureIdParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SksFeatureDetails'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/features:
    get:
      tags:
        - features
        - operator
      summary: List all Features
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: features
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/SksFeature'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/features/{featureId}:
    get:
      tags:
        - features
        - operator
      summary: Get a feature with given id
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: features
      parameters:
        - $ref: '#/parameters/featureIdParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SksFeature'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Feature does not exist
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - operator
        - features
      summary: Update a feature with given id
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: features
      parameters:
        - $ref: '#/parameters/featureIdParam'
        - in: body
          name: feature
          description: Feature to be updated
          required: true
          schema:
            $ref: '#/definitions/SksFeaturePatchRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SksFeature'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Feature does not exist
          schema:
            $ref: '#/definitions/ErrorResponse'
#
# AWS accounts controller
#
  /operator/aws:
    get:
      tags:
        - awsAccount
        - operator
      summary: List all Aws Accounts
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/AwsAccount'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
        - awsAccount
        - operator
      summary: Adds a new AwsAccount to the pool
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - in: body
          name: awsAccountConfig
          description: AwsAccount to be created
          required: true
          schema:
            $ref: '#/definitions/AwsAccountConfig'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AwsAccount'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/aws/create:
    post:
      tags:
        - awsAccount
        - operator
      summary: Creates and adds a new AwsAccount to the pool
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - in: body
          name: awsAccountCreationConfig
          description: AwsAccountConfiguration to be created
          required: true
          schema:
            $ref: '#/definitions/AwsAccountCreationConfig'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/aws/credentials:
    post:
      tags:
        - awsAccount
        - operator
      summary: Generates temporary credentials for a given org.
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - name: orgId
          in: query
          description: Org Id to act upon
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AwsAccountResponseStructure'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/aws/whitelist:
    post:
      tags:
        - awsAccount
        - operator
      summary: Creates a batch ticket to AWS
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/aws/{awsAccountId}:
    get:
      tags:
        - awsAccount
        - operator
      summary: Get AwsAccount for an Id
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/awsAccountIdParam'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/AwsAccount'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
        - awsAccount
        - operator
      summary: Delete AwsAccount
      description: |
        SUBJECT TO CHANGE/Internal
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/awsAccountIdParam'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/AwsAccount'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: AwsAccount doesn't exist
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - awsAccount
        - operator
      summary: Update AwsAccount
      description: |
        SUBJECT TO CHANGE/Internal
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/awsAccountIdParam'
        - in: body
          name: updateAwsAccountConfig
          description: Aws Account to be updated
          required: true
          schema:
            $ref: '#/definitions/UpdateAwsAccountConfig'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/AwsAccount'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: AwsAccount does not exist
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      tags:
        - awsAccount
        - operator
      summary: Associate/Disassociate Aws Account to an org
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/awsAccountIdParam'
        - name: action
          in: query
          description: |
            If = 'associate', Links to an org.
            If = 'disassociate' Removes link to an org.
          required: true
          type: string
        - name: orgId
          in: query
          description: Org Id to act upon
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AwsAccount'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/aws/{awsAccountId}/regionazmapping:
    patch:
      tags:
        - awsAccount
        - operator
      summary: Patch the region az mappings
      x-vmw-vapi-methodname: patch
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/awsAccountIdParam'
        - in: body
          name: UpdateAwsAccountNitroRegionAzMapping
          description: Mapping of the AWS Account
          required: true
          schema:
            $ref: '#/definitions/UpdateAwsAccountNitroRegionAzMapping'
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/AwsAccount'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: AwsAccount does not exist
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/aws/{awsAccountId}/resume:
    post:
      tags:
        - awsAccount
        - operator
      summary: Resume Aws Account creation
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/awsAccountIdParam'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/aws/{awsAccountId}/state:
    post:
      tags:
        - awsAccount
        - operator
      summary: Resume Aws Account creation
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: "#/parameters/awsAccountIdParam"
        - name: state
          in: query
          description: AWS account state (ACTIVE, INACTIVE, DELETED)
          required: true
          type: string
        - name: reason
          in: query
          required: true
          description: Reason for updating the state
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AwsAccount'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/aws:
    get:
      tags:
        - awsAccount
      summary: Get shadow account info
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: aws
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: "#/parameters/orgParam"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AwsAccountResponseStructure'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/orgs:
    get:
      tags:
        - orgs
        - operator
      summary: List all orgs
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: orgs
      parameters:
        - $ref: '#/parameters/filterParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Organization'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/orgs/properties:
    get:
      tags:
        - orgs
        - operator
      summary: List all orgs properties
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: orgs
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/orgs/orgtype-options:
      get:
        tags:
          - orgs
          - operator
        summary: List all available orgtypes for orgs
        x-vmw-vapi-methodname: list
        x-vmc-ui-servicename: orgs
        responses:
          '200':
            description: OK
            schema:
              type: array
              items:
                type: string
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
  /operator/orgs/orgtype-property:
      get:
        tags:
          - orgs
          - operator
        summary: value defined for a given orgtype and a given property
        x-vmw-vapi-methodname: get
        x-vmc-ui-servicename: orgs
        parameters:
          - $ref: '#/parameters/orgTypeParam'
          - $ref: '#/parameters/orgTypePropertyParam'
        responses:
          '200':
            description: OK
            schema:
              type: string
          '400':
            description: Bad request
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
  /operator/orgs/{org}:
    get:
      tags:
        - orgs
        - operator
      summary: List an org
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: orgs
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Organization'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    put:
      tags:
        - orgs
        - operator
      summary: >-
        Take action against an org. This api can be used to disable/clean-up an
        org via operator.
      x-vmw-vapi-methodname: put
      x-vmc-ui-servicename: orgs
      parameters:
        - $ref: '#/parameters/orgParam'
        - name: action
          in: query
          description: |
            If = 'disable', will disable the org. Resources are left intact.
            If = 'disable_and_clean', will disable the org and free-up resouces.
          required: true
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
        - orgs
        - operator
      summary: Delete organization
      description: |
        SUBJECT TO CHANGE/Internal
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: orgs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Organization doesn't exist
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - operator
        - orgs
      summary: Update project
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: orgs
      parameters:
        - $ref: '#/parameters/orgParam'
        - in: body
          name: project
          description: Project to be updated
          required: true
          schema:
            $ref: '#/definitions/OrgPatchStructure'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Org does not exist
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/orgs/{org}/versions:
      get:
        tags:
          - orgs
          - operator
          - versions
        summary: List past versions of an org (in DESC order)
        x-vmw-vapi-methodname: getOrgVersions
        x-vmc-ui-servicename: orgs
        parameters:
          - $ref: '#/parameters/orgParam'
          - $ref: '#/parameters/versionsMaxParam'
          - $ref: '#/parameters/versionsStartParam'
          - $ref: '#/parameters/versionsEndParam'
        responses:
          '200':
            description: OK
            schema:
              type: array
              items:
                $ref: '#/definitions/Organization'
          '400':
            description: Bad argument for query parameter(s)
            schema:
              $ref: '#/definitions/ErrorResponse'
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Org does not exist
            schema:
              $ref: '#/definitions/ErrorResponse'
  /operator/orgs/{org}/properties/versions:
        get:
          tags:
            - orgs
            - operator
            - versions
          summary: List past versions of an org's Properties (in DESC order)
          x-vmw-vapi-methodname: getOrgPropertiesVersions
          x-vmc-ui-servicename: orgs
          parameters:
            - $ref: '#/parameters/orgParam'
            - $ref: '#/parameters/versionsMaxParam'
            - $ref: '#/parameters/versionsStartParam'
            - $ref: '#/parameters/versionsEndParam'
          responses:
            '200':
              description: OK
              schema:
                type: array
                items:
                  $ref: '#/definitions/OrgProperties'
            '400':
              description: Bad argument for query parameter(s)
              schema:
                $ref: '#/definitions/ErrorResponse'
            '401':
              description: Unauthorized
            '403':
              description: Forbidden
            '404':
              description: Org does not exist
              schema:
                $ref: '#/definitions/ErrorResponse'
  /operator/orgs/{org}/properties/{propertyName}:
    delete:
      tags:
        - orgs
        - operator
      summary: Delete org property
      description: |
        API to delete a property for a given org.
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: orgs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/propertyNameParam'
        - name: force
          in: query
          description: Flag to force delete if validation of propertyname fails.
          required: false
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Organization doesn't exist
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs:
    get:
      tags:
        - sddc
        - operator
      summary: List all the SDDCs of all the orgs
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/filterParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Sddc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/sddcs/{sddc}:
    delete:
      tags:
        - sddc
        - operator
      summary: Delete SDDC
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/sddcParam'
        - name: force
          in: query
          description: >
            If = 'true', will delete forcefully. Beware: do not use the force
            flag if there is a chance an active provisioning or deleting task is
            running against this SDDC.
          required: false
          type: string
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for deletion
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - sddc
        - operator
      summary: Get SDDC
      description: Get SDDC
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/sddcParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Sddc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/sddc-manifest:
    patch:
      tags:
        - sddc
        - operator
      summary: Trigger patch SDDC's SddcManifest
      x-vmw-vapi-methodname: patch
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/sddcParam'
        - in: body
          name: sddcManifest
          description: SddcManifest of the Sddc
          required: true
          schema:
            $ref: '#/definitions/SddcManifest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SddcManifest'
        '400':
          description: Bad APIRequest / Validation error.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/sddc-manifest-latest:
    patch:
      tags:
        - sddc
        - operator
      summary: Trigger patch SDDC's latest Sddc Manifest
      x-vmw-vapi-methodname: patch
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/sddcParam'
        - name: configName
          in: query
          description: >
            Config name in FM config service to locate Sddc manifest. If not provided, use the default one.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SddcManifest'
        '400':
          description: Bad APIRequest / Validation error.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/sddc-manifest:
    patch:
      tags:
        - sddc
        - all-access
      summary: Trigger patch SDDC's SddcManifest
      x-vmw-vapi-methodname: patch
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - in: body
          name: sddcManifest
          description: SddcManifest of the Sddc
          required: true
          schema:
            $ref: '#/definitions/SddcManifest'
      responses:
        '200':
          description: OK
        '400':
          description: Bad APIRequest / Validation error.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/mgw:
    post:
      tags:
        - sddc
        - operator
      summary: Enable management appliance connectivity from overlay network
      x-vmw-vapi-methodname: enableManagementApplianceConnectivity
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/sddcParam'
        - name: action
          in: query
          description: |
            If = 'enable-connectivity', will enable connectivity to management applaince network.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: Bad APIRequest / Validation error.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/sddc-manifest-latest:
    patch:
      tags:
        - sddc
        - all-access
      summary: Trigger patch SDDC's latest Sddc Manifest
      x-vmw-vapi-methodname: patch
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - name: configName
          in: query
          description: >
            Config name in FM config service to locate Sddc manifest. If not provided, use the default one.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SddcManifest'
        '400':
          description: Bad APIRequest / Validation error.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/reconfigure-mgmt-cluster-reservation:
    post:
      tags:
        - sddc
        - all-access
      summary: Reconfigure Management Cluster resource pool and VM reservations
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
      responses:
        '202':
          description: OK
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: Invalid action, bad argument or SDDC state invalid
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/versions:
    get:
      tags:
        - sddc
        - operator
      summary: List all past versions of a sddc (in desc order)
      x-vmw-vapi-methodname: listVersions
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/versionsMaxParam'
        - $ref: '#/parameters/versionsStartParam'
        - $ref: '#/parameters/versionsEndParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Sddc'
        '400':
          description: Bad argument for query parameter(s)
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/resource-config:
    post:
      tags:
        - sddc
        - operator
      summary: Trigger actions to SDDC resourceConfig
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/sddcParam'
        - name: action
          in: query
          description: |
            If = 'upgrade', upgrade Sddc resourceConfig to current version
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for resourceConfig change
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/agent:
    post:
      tags:
        - sddc
        - operator
      summary: Trigger agent actions in SDDC
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/sddcParam'
        - name: action
          in: query
          description: |
            If = 'reboot', will reboot the agent.
            If = 'stop', will stop/power off the agent VM.
            If = 'start', will start/power on the agent VM.
            If = 'restart', will stop+start the agent VM.
            If = 'redeploy', will redeploy the agent.
            If = 'auto-remediate', will execute the agent remediation cycle.
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for redeploy
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - sddc
        - operator
      summary: Trigger config actions on agent in SDDC
      x-vmw-vapi-methodname: patch
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/sddcParam'
        - name: action
          in: query
          description: |
            If = 'rotate_login_secret' will change the login secret of the agent.
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for config action
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/agent:
    post:
      tags:
        - sddc
        - all-access
      summary: Trigger agent actions in SDDC
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - name: action
          in: query
          description: |
            If = 'reboot', will reboot the agent.
            If = 'stop', will stop/power off the agent VM.
            If = 'start', will start/power on the agent VM.
            If = 'restart', will stop+start the agent VM.
            If = 'redeploy', will redeploy the agent.
            If = 'auto-remediate', will execute the agent remediation cycle.
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for redeploy
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - sddc
        - all-access
      summary: Trigger config actions on agent in SDDC
      x-vmw-vapi-methodname: patch
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - name: action
          in: query
          description: |
            If = 'rotate_login_secret' will change the login secret of the agent.
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for config action
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/agent/login-token:
    get:
      tags:
        - sddc
        - operator
      summary: Get agent login token for PoP authentication.
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/sddcParam'
      responses:
        '200':
          description: OK
          schema:
              description: The login token.
              type: string
        '404':
          description: The agent is either not existing or not in a state can generate the login token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/sddcs/{sddc}/agent/services:
    post:
      tags:
        - sddc
        - operator
      summary: Trigger actions on tenant services in the POP in SDDC
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/sddcParam'
        - in: body
          name: PopServiceLifeCycleSpecV1
          description: LifeCycle Spec to manage the tenant Services on Pop
          required: true
          schema:
            $ref: '#/definitions/PopServiceLifeCycleSpecV1'
        - name: action
          in: query
          description: |
            If = 'update', will update the tenant service mentioned in the spec body.
            If = 'enable', will enable the tenant service mentioned in the spec body.
            If = 'disable', will disable the tenant service mentioned in the spec body.
            If = 'start', will start the tenant service mentioned in the spec body.
            If = 'restart', will restart the tenant service mentioned in the spec body.
            If = 'stop', will stop the tenant service mentioned in the spec body.
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for performing tenant service api.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/agent/auth-token:
    get:
      tags:
        - sddc
        - operator
      summary: Get agent auth token for PoP authentication.
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/sddcParam'
      responses:
        '200':
          description: OK
          schema:
              description: The agent authentication information.
              $ref: '#/definitions/AgentAuthInfo'
        '404':
          description: The agent is either not existing or not in a state can generate the auth token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/sddcs/{sddc}/esxs/{esx}:
    post:
      tags:
        - sddc
        - operator
      summary: Restart an esx host in sddc
      x-vmw-vapi-methodname: create
      x-vmc-ui-servicename: esxs
      parameters:
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/esxParam'
        - name: action
          in: query
          description: |
            If = 'force-restart', will force restart the ESX host through AWS.
          required: true
          type: string
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC or ESX with the given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/sddc-spec:
    get:
      tags:
        - sddc
        - operator
      summary: Get the glcm sddc spec for a sddc
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/sddcParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SddcSpec'
        '400':
          description: The sddc is not in a state that's valid for glcm brinup
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/sddc-spec:
    get:
      tags:
        - sddc
        - all-access
      summary: Get the glcm sddc spec for a sddc
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SddcSpec'
        '400':
          description: The sddc is not in a state that's valid for glcm brinup
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/provisioning-specs:
    get:
      tags:
        - sddc
      summary: List all sddc type provisioning spec which are applicable for an org.
      description: List all sddc type provisioning spec which are applicable for an org.
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SddcProvisioningSpec'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: |
            Internal server error.
            Either sddcTypes stored in fm config service is having wrong data or config service not available.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/sddc-capabilities:
    get:
      tags:
        - sddc
        - all-access
      summary: List the sddc capabilities along with the sddc types for an org
      description: List all sddc type provisioning spec which are applicable for an org.
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: sddcs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SddcCapability'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: |
            Internal server error.
            Either sddcTypes stored in fm config service is having wrong data or config service not available.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/push-dvs-property:
    post:
      tags:
        - sddc
        - operator
      summary: Push Dvs Propert in VC.
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - in: body
          name: dvsProperty
          description: Push Dvs Property
          required: true
          schema:
            $ref: '#/definitions/DvsProperty'
      responses:
        '202':
          description: Accepted
          schema:
            items:
              $ref: '#/definitions/Task'
        '400':
          description: Cannot Push Property to Dvs
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Invalid VC Credentials
          schema:
            $ref: '#/definitions/ErrorResponse'
#
# Node Controller
#
  /operator/nodes/local:
    get:
      tags:
        - nodes
        - operator
      summary: Get information about a single node.
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: nodes
      x-vmw-vapi-lifecyle-internal:
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NodeInfo'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
        - nodes
        - operator
      summary: Operations on a single node.
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: nodes
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - name: action
          in: query
          description: |
            If = 'quiesce', will start process of quiescing node. The actual state of quiescing can take a long
            time, and must be polled using the 'GET' operation. Additionally, prior to calling the quiesce POST,
            it is advised to stop all new inbound requests. Note that in the case of tasks, quiesce doesn't wait for
            all tasks to complete - just for them to finish executing on the target node. Task implementations can
            delay quiescing an arbitrary amount if they choose to do local polling (which isn't good).
          required: true
          type: string
      responses:
        '202':
          description: ACCEPTED
        '400':
          description: Invalid Operation
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
#
# ConfigController
#
  /orgs/{org}/config:
    get:
      tags:
        - config
      summary: Get configuration information.
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: config
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConfigResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/config:
    get:
      tags:
        - config
        - operator
      summary: Get configuration information.
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: config
      x-vmw-vapi-lifecyle-internal:
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConfigResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    put:
      tags:
        - config
        - operator
      summary: Perform configuration changes.
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: config
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - name: action
          in: query
          description: |
            If = 'flush_auth_token' then token to be flushed should be in FlushAuthTokenRequest
          required: true
          type: string
        - in: body
          name: ConfigRequest
          description: Configuration request data.
          required: true
          schema:
            $ref: '#/definitions/ConfigRequest'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

#
# Notification Controller
#
  /operator/notifications:
    get:
      tags:
        - notifications
        - operator
      summary: List of all the registered clients
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: notifications
      x-vmw-vapi-lifecyle-internal:
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: object
            additionalProperties:
              $ref: '#/definitions/N10n'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/notifications/{clientId}:
    get:
      tags:
        - notifications
        - operator
      summary: Get notification details for client id
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: notifications
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - name: clientId
          in: path
          description: Unique client id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/N10n'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    put:
      tags:
        - notifications
        - operator
      summary: Adds or updates notification setting for a client id
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: notifications
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - name: clientId
          in: path
          description: Unique client id
          required: true
          type: string
        - in: body
          name: NotificationRequest
          description: Notifications details
          required: true
          schema:
            $ref: '#/definitions/N10nRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/N10n'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - notifications
        - operator
      summary: Disable notifications for client id
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: notifications
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - name: clientId
          in: path
          description: Unique client id
          required: true
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/notifications/event/types:
    get:
      tags:
        - notifications
        - operator
      summary: List of all the supported events
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: notifications
      x-vmw-vapi-lifecyle-internal:
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
#
# Jobs Controller
#
  /operator/jobs:
    get:
      tags:
        - operator
      summary: Get list of scheduled jobs
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: jobs
      x-vmw-vapi-lifecyle-internal:
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/JobResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /operator/jobs/{jobName}:
    post:
      tags:
        - operator
      summary: Pauses or un-pauses a job
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: jobs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - name: jobName
          in: path
          description: Job name
          required: true
          type: string
        - name: action
          in: query
          description: |
            If = 'pause' then job will be paused (and not fire again)
            If = 'unpause' then job will be unpaused and resume normal schedule
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/JobResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - operator
      summary: Delete a scheduled job
      description: |
        Note that on-restart of the service initialization code might well recreate the job.
        This API should only be used to remove no longer needed jobs where the code has already been removed.
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: jobs
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - name: jobName
          in: path
          description: Job name
          required: true
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

#
# Task Controller
#
  /operator/tasks:
    get:
      tags:
        - task
        - operator
      summary: List all tasks for all organizations with optional filtering
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: tasks
      parameters:
        - $ref: '#/parameters/filterParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /operator/tasks/types/{taskType}/features:
    get:
      tags:
        - task
      summary: List all features registered with a task
      description: |
        List all features registered with a task.
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: tasks
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/taskTypeParam'
      responses:
        '200':
          description: List of feature names
          schema:
            type: array
            items:
              type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /operator/tasks/{task}:
    get:
      tags:
        - task
        - operator
      summary: Retrieve a task by Id
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: tasks
      parameters:
        - $ref: '#/parameters/taskParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Task'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    post:
      tags:
        - task
        - operator
      summary: Operate on a task
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: tasks
      parameters:
        - $ref: '#/parameters/taskParam'
        - name: action
          in: query
          description: |
            If = 'restart', failed task will be restarted.
            If = 'fail', Fails the non terminal task.
            If = 'cancel' cancel the task.
          required: true
          type: string
        - name: sub_status
          in: query
          description: |
            If action=restart then start at this sub_status.
            If action=cancel or fail then the field value is irrelevant.
          required: false
          type: string
        - name: reason
          in: query
          description: |
            If action=fail then this is mandatory info for failing the task.
            If action=cancel or restart then the field value is irrelevant.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: Invalid action or bad argument
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the task with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/tasks/{task}/versions:
    get:
      tags:
        - task
        - operator
      summary: List all past versions of a task (in desc order)
      x-vmw-vapi-methodname: listVersions
      x-vmc-ui-servicename: tasks
      parameters:
        - $ref: '#/parameters/taskParam'
        - $ref: '#/parameters/versionsMaxParam'
        - $ref: '#/parameters/versionsStartParam'
        - $ref: '#/parameters/versionsEndParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'
        '400':
          description: Bad argument for query parameter(s)
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - task
        - operator
      summary: Delete past versions of a task
      description: |
        Delete all versions older than supplied version.
        The task will never be completely deleted regardless of what version is passed in.
      x-vmw-vapi-methodname: deleteVersions
      x-vmc-ui-servicename: tasks
      parameters:
        - $ref: '#/parameters/taskParam'
        - name: version
          in: query
          description: All versions older than this will be deleted
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'
        '400':
          description: Bad argument for query parameter(s)
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/tasks/summary:
    get:
      tags:
        - task
        - operator
      summary: Get a summary of all tasks matching criteria
      x-vmw-vapi-methodname: listSummaries
      x-vmc-ui-servicename: tasks
      parameters:
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/limitParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/EntitySummary'
        '400':
          description: Bad argument for query parameter(s)
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/tasks:
    get:
      tags:
        - task
      summary: List all tasks for organization
      description: |
        List all tasks with optional filtering.
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: tasks
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/filterParam'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /orgs/{org}/tasks/types:
    get:
      tags:
        - task
      summary: List all tasks types
      description: |
        List all tasks types.
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: tasks
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /orgs/{org}/tasks/{task}:
    get:
      tags:
        - task
      summary: Get task details
      description: |
        Retrieve details of a task.
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: tasks
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/taskParam'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Task'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the task with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      tags:
        - task
      summary: Modify an existing task
      description: |
        Request that a running task be canceled.
        This is advisory only, some tasks may not be cancelable, and some tasks might take
        an arbitrary amount of time to respond to a cancelation request. The task must be monitored
        to determine subsequent status.
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: tasks
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/taskParam'
        - name: action
          in: query
          description: 'If = ''cancel'', task will be canceled'
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: Invalid action or bad argument
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the task with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
#
# Org/Project Controller
#
  /orgs:
    get:
      tags:
        - orgs
      summary: Get organizations associated with calling user.
      description: |
        Return a list of all organizations the calling user (based on credential) is authorized on.
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: orgs
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Organization'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /orgs/{org}:
    get:
      tags:
        - orgs
      summary: Get details of organization
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: orgs
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Organization'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Organization doesn't exist
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/providers:
    get:
      tags:
        - orgs
      summary: Get enabled cloud providers for an organization
      description: ''
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: providers
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CloudProvider'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Organization doesn't exist
          schema:
            $ref: '#/definitions/ErrorResponse'

#
# Sddc Controller
#
  /orgs/{org}/sddcs:
    get:
      tags:
        - sddc
      summary: List all the SDDCs of an organization
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: sddcs
      description: List all the SDDCs of an organization
      parameters:
        - $ref: '#/parameters/orgParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Sddc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
        - sddc
      summary: Provision SDDC
      x-vmw-vapi-methodname: create
      x-vmc-ui-servicename: sddcs
      description: Provision an SDDC in target cloud
      parameters:
        - $ref: '#/parameters/orgParam'
        - in: body
          name: sddcConfig
          description: sddcConfig
          required: true
          schema:
            $ref: '#/definitions/SddcConfig'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /orgs/{org}/sddcs/{sddc}:
    get:
      tags:
        - sddc
      summary: Get SDDC
      description: Get SDDC
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Sddc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - sddc
      summary: Delete SDDC
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: sddcs
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - name: retain_configuration
          in: query
          description: >
            If = 'true', the SDDC's configuration is retained as a template for later use.
            This flag is applicable only to SDDCs in ACTIVE state.
          required: false
          type: boolean
        - name: template_name
          in: query
          description: >
            Only applicable when retainConfiguration is also set to 'true'.
            When set, this value will be used as the name of the SDDC configuration template generated.
          required: false
          type: string
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for deletion
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Access not allowed to the operation for the current user
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/publicips:
    get:
      tags:
        - sddc
        - publicip
      summary: List all public IPs for a SDDC
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: publicips
      description: list all public IPs for a SDDC
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SddcPublicIp'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      tags:
        - sddc
        - publicip
      summary: Allocate public IPs for a SDDC
      x-vmw-vapi-methodname: create
      x-vmc-ui-servicename: publicips
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - in: body
          name: spec
          description: allocation spec
          required: true
          schema:
            $ref: '#/definitions/SddcAllocatePublicIpSpec'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Access not allowed to the operation for the current user
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/publicips:
    get:
      tags:
        - sddc
        - operator
        - publicip
      summary: List all public IPs for a SDDC
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: publicips-operator
      description: list all public IPs for a SDDC
      parameters:
        - $ref: '#/parameters/sddcParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SddcPublicIp'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      tags:
        - sddc
        - operator
        - publicip
      summary: Allocate public IPs for a SDDC
      x-vmw-vapi-methodname: create
      x-vmc-ui-servicename: publicips-operator
      parameters:
        - $ref: '#/parameters/sddcParam'
        - in: body
          name: spec
          description: allocation spec
          required: true
          schema:
            $ref: '#/definitions/SddcAllocatePublicIpSpec'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Access not allowed to the operation for the current user
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/publicips/{id}:
    get:
      tags:
        - sddc
        - publicip
      summary: Get one public IP for a SDDC
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: publicips
      description: Get one public IP for a SDDC
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/ipParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SddcPublicIp'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the public IP with given IP address
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - sddc
        - publicip
      summary: Free one public IP for a SDDC
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: publicips
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/ipParam'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Access not allowed to the operation for the current user
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the public IP with given IP address
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - sddc
        - publicip
      summary: Attach or detach a public IP to workload VM for a SDDC
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: publicips
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/ipParam'
        - name: action
          in: query
          description: >
            Type of action as 'attach', 'detach', 'reattach', or 'rename'.

            For 'attch', the public IP must not be attached and
            'associated_private_ip'

            in the payload needs to be set with a workload VM private IP.

            For 'detach', the public IP must be attached and
            'associated_private_ip'

            in the payload should not be set with any value.

            For 'reattach', the public IP must be attached and
            'associated_private_ip'

            in the payload needs to be set with a new workload VM private IP.

            For 'rename', the 'name' in the payload needs to have a new name
            string.
          type: string
          required: true
        - in: body
          name: SddcPublicIp object
          description: SddcPublicIp object to update
          required: true
          schema:
            $ref: '#/definitions/SddcPublicIp'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Access not allowed to the operation for the current user
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the public IP with given IP address
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/publicips/{id}:
    get:
      tags:
        - sddc
        - operator
        - publicip
      summary: Get one public IP for a SDDC
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: publicips-operator
      description: Get one public IP for a SDDC
      parameters:
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/ipParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SddcPublicIp'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the public IP with given IP address
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - sddc
        - operator
        - publicip
      summary: Free one public IP for a SDDC
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: publicips-operator
      parameters:
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/ipParam'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Access not allowed to the operation for the current user
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the public IP with given IP address
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - sddc
        - operator
        - publicip
      summary: Attach or detach a public IP to workload VM for a SDDC
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: publicips-operator
      parameters:
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/ipParam'
        - name: action
          in: query
          description: >
            Type of action as 'attach', 'detach', 'reattach', or 'rename'.

            For 'attch', the public IP must not be attached and
            'associated_private_ip'

            in the payload needs to be set with a workload VM private IP.

            For 'detach', the public IP must be attached and
            'associated_private_ip'

            in the payload should not be set with any value.

            For 'reattach', the public IP must be attached and
            'associated_private_ip'

            in the payload needs to be set with a new workload VM private IP.

            For 'rename', the 'name' in the payload needs to have a new name
            string.
          type: string
          required: true
        - in: body
          name: SddcPublicIp object
          description: SddcPublicIp object to update
          required: true
          schema:
            $ref: '#/definitions/SddcPublicIp'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Access not allowed to the operation for the current user
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the public IP with given IP address
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/mgw/publicips:
    get:
      tags:
        - sddc
        - operator
        - publicip
      summary: List all public IPs for the mgw of a SDDC
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: mgw-publicips-operator
      description: list all public IPs for the mgw of a SDDC
      parameters:
        - $ref: '#/parameters/sddcParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SddcPublicIp'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      tags:
        - sddc
        - operator
        - publicip
      summary: Allocate public IPs for the mgw of a SDDC
      x-vmw-vapi-methodname: create
      x-vmc-ui-servicename: mgw-publicips-operator
      parameters:
        - $ref: '#/parameters/sddcParam'
        - in: body
          name: spec
          description: allocation spec and only need to provide value for its count attribute.
          required: true
          schema:
            $ref: '#/definitions/SddcAllocatePublicIpSpec'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Access not allowed to the operation for the current user
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /operator/sddcs/{sddc}/mgw/publicips/{id}:
    get:
      tags:
        - sddc
        - operator
        - publicip
      summary: Get one public IP for the mgw of a SDDC
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: mgw-publicips-operator
      description: Get one public IP for the mgw of a SDDC
      parameters:
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/ipParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SddcPublicIp'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the public IP with given IP address
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - sddc
        - operator
        - publicip
      summary: Free one public IP for the mgw of a SDDC
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: mgw-publicips-operator
      parameters:
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/ipParam'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Access not allowed to the operation for the current user
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find the public IP with given IP address
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/mgw/publicips:
    get:
      tags:
        - sddc
        - publicip
      summary: List all public IPs for the mgw of a SDDC
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: mgw-publicips
      description: list all public IPs for the mgw of a SDDC
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SddcPublicIp'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the SDDC with given identifier
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/mgw/publicips/{id}:
    get:
      tags:
        - sddc
        - publicip
      summary: Get one public IP for the mgw of a SDDC
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: mgw-publicips
      description: Get one public IP for a SDDC
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/ipParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SddcPublicIp'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the public IP with given IP address
          schema:
            $ref: '#/definitions/ErrorResponse'
  /orgs/{org}/sddcs/{sddc}/dns/public:
    put:
      tags:
        - sddc
        - dns
      summary: Update the DNS records of management VMs to use public IP addresses
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: dns-public
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates or invalid body
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /orgs/{org}/sddcs/{sddc}/dns/private:
    put:
      tags:
        - sddc
        - dns
      summary: Update the DNS records of management VMs to use private IP addresses
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: dns-private
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates or invalid body
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /orgs/{org}/sddcs/{sddc}/management-vms:
    post:
      tags:
        - sddc
        - impersonation
        - all-access
      summary: Add a management VM to Sddc
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: management-vms
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - in: body
          name: managementVmConfig
          description: the management VM configuration
          required: true
          schema:
            $ref: '#/definitions/ManagementVmConfig'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates or invalid body
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /orgs/{org}/sddcs/{sddc}/management-vms/{managementVmId}:
    patch:
      tags:
        - sddc
        - impersonation
        - all-access
      summary: Update a management VM in Sddc
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: management-vms
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/managementVmIdParam'
        - in: body
          name: managementVmConfig
          description: the management VM configuration
          required: true
          schema:
            $ref: '#/definitions/ManagementVmConfig'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates or invalid body
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
        - sddc
        - impersonation
        - all-access
      summary: Delete the management VM in Sddc
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: management-vms
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/managementVmIdParam'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates or invalid body
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /orgs/{org}/sddcs/{sddc}/management-vms/{managementVmId}/certificate:
    post:
      tags:
        - sddc
        - impersonation
        - all-access
      summary: APIRequest a CA signed certificate for the management VM in Sddc
      x-vmw-vapi-methodname: update
      x-vmc-ui-servicename: management-vms
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/managementVmIdParam'
        - in: query
          name: validDays
          description: The number of days the certificate should be valid (between 90 to 365 days). Default is 365 days.
          required: false
          type: integer
        - in: body
          name: csr
          description: the certificate signing request
          required: true
          schema:
            $ref: '#/definitions/ManagementVmCsrParam'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates or invalid body
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    get:
      tags:
        - sddc
        - impersonation
        - all-access
      summary: Get the CA signed certificate chain for the management VM in Sddc
      x-vmw-vapi-methodname: get
      x-vmc-ui-servicename: management-vms
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/managementVmIdParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ManagementVmCertificate'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Cannot find the public IP with given IP address
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - sddc
        - impersonation
        - all-access
      summary: Delete the CA signed certificate for the management VM in Sddc
      x-vmw-vapi-methodname: delete
      x-vmc-ui-servicename: management-vms
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - $ref: '#/parameters/managementVmIdParam'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates or invalid body
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /orgs/{org}/sddcs/{sddc}/reverse-proxy:
    post:
      tags:
        - sddc
        - impersonation
        - all-access
      summary: Add a reverse proxy endpoint to Sddc
      x-vmw-vapi-methodname: post
      x-vmc-ui-servicename: manage-reverse-proxy
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
        - in: body
          name: reverseProxyEpConfig
          description: the configuration of a reverse proxy endpoint
          required: true
          schema:
            $ref: '#/definitions/ReverseProxyEpConfig'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/Task'
        '400':
          description: The sddc is not in a state that's valid for updates or invalid body
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    get:
      tags:
        - sddc
        - impersonation
        - all-access
      summary: List all active add-on reverse proxy endpoints in Sddc
      x-vmw-vapi-methodname: list
      x-vmc-ui-servicename: manage-reverse-proxy
      x-vmw-vapi-lifecyle-internal:
      parameters:
        - $ref: '#/parameters/orgParam'
        - $ref: '#/parameters/sddcParam'
      responses:
        '202':
          description: Accepted
          schema:
            type: array
            items:
              $ref: '#/definitions/ReverseProxyEpConfig'
        '400':
[...]
