<div class="app-container">
    <div class="chat-side {{theme}}">
        <div class="avatar {{theme}}">
            {{ avatar }}
        </div>
        <h2>{{ name }}</h2>
        <h6>{{ id }}</h6>
        <div class="controls">
            <div class="btn-group">
                <button class="btn btn-inverse" (click)="goOffline()" *ngIf="isOnline">
                    <clr-icon shape="volume-mute"></clr-icon>
                </button>
                <button class="btn btn-inverse" (click)="goOnline()" *ngIf="!isOnline">
                    <clr-icon shape="volume-up"></clr-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="chat-main">
        <div class="chat-window {{theme}}">
            <div class=chat-container #scrollable>
                <div class="chat-message" *ngFor="let msg of generalChatMessages">

                    <div class="chat-body">
                        <div class="chat-avatar">
                            {{msg.avatar}}
                        </div>
                        <div class="message">
                            <div>
                                <span class="from">{{msg.from}}</span>&nbsp;
                                <span class="time">{{msg.time | date:'shortTime'}}</span>
                            </div>
                            <div>{{msg.body}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" [(ngModel)]="chat" placeholder="Say Something" (keyup)="onKey($event)"/>
        </div>
    </div>
</div>
