<div class="app-container">
    <div class="chat-side">
        <div class="avatar">
            🦄
        </div>
        <h2>Sparkle</h2>
    </div>

    <div class="chat-main">

        <div class="chat-window">
            <div class="chat" *ngFor="let message of generalChatMessages">
                {{ message }}
            </div>

        </div>

        <div class="chat-iput">
            <button class="btn btn-primary" (click)="saySomething()">Speak</button>

        </div>
    </div>
</div>
